/*
Theme Name: Dark Theme
Author: Chris Black
Description: IM4420 Example Theme
Version: 0.0.1
Tags: dark
*/

/*
 * Globals
 */

html {
    height:100%;
  overflow-y: scroll;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  background: #fafaf9;
  height:100%;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

a, a:visited {
    color: #444;
    text-decoration: none;
}

.blog-title a {
    color: #fff;
}

.blog-description {
		color: #fff;
		font-style: italic;
}

.blog-header {
    padding: 20px 0px 10px 0px;
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;

  }
}

#main-content {
  padding-bottom: 44px;
}

#wrapper {
    position: relative;
    min-height:100%;
}

.size-to-fit {
  width: 100%;
  height: auto; 
}

.circle-image {
  border-radius: 150px;
}

.template-description {
  background-color: lightgoldenrodyellow;
  padding: 10px;
  color: #333;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
}

.template-description h2 {
  margin-top: 0px;
  font-style: italic;
  width: 100%;
  
}

.template-grid-row {

}

.template-grid-col {
  height: 340px;
  padding: 0px;
}

.grid-content {
  border-radius: 5px;
  height: 320px;
  margin: 10px 0px 10px 0px;
  padding: 10px;
  background-color: #fff;
}

.grid-content img {
  border-radius: 100px;
  display:block;
  margin:auto;
}

.grid-content h4 {
  width: 100%;
  text-align: center;
  color: #222;
}

.grid-content p {
  width: 100%;
  text-align: center;
  color: #555;
}

/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: darkorange;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav a {
  position: relative;
  display: inline-block;
  padding: 14px;
  font-weight: 500;
  color: #fff;
}
.blog-nav a:hover,
.blog-nav a:focus {
  color: #fff;
  text-decoration: none;
}

.blog-nav ul {
  margin-bottom: 0px;
  padding-left: 17px;
}

.blog-nav li {
    position: relative;
    display: inline-block;
    font-weight: 500;	
}
.blog-nav li a {
    color: #fff;
}

.blog-nav .current_page_item a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

/*
 * Footer
 * https://stackoverflow.com/questions/21206058/place-footer-at-bottom-only-if-page-is-short
 */

.blog-footer {
  height: 44px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  margin: 0px;
  color: #fff;
  text-align: center;
  background-color: darkorange;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}